﻿@model DedicatedRepLibrary.customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>customer</legend>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.CustomerName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CustomerName)
               <span style="color:red"> @Html.ValidationMessageFor(model => model.CustomerName)
              </span>
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.AccountId)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.AccountId)
                @Html.ValidationMessageFor(model => model.AccountId)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.VendorId)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.VendorId)
                @Html.ValidationMessageFor(model => model.VendorId)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Active)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Active)
                @Html.ValidationMessageFor(model => model.Active)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.JobSkinDID)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.JobSkinDID)
                @Html.ValidationMessageFor(model => model.JobSkinDID)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.CompanyProfile)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CompanyProfile)
                @Html.ValidationMessageFor(model => model.CompanyProfile)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.IndCodes)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IndCodes)
                @Html.ValidationMessageFor(model => model.IndCodes)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.URL)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.URL)
                @Html.ValidationMessageFor(model => model.URL)
            </div>
    
    
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
